@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html,body{
    scroll-behavior: smooth;
    width:100%;
    overflow-x:hidden;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.want_to_contact .want-to-connect-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 280px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    font-weight: bold;
    color: rgb(207, 19, 66);
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}
body{
    font-family: 'Poppins';
    text-align: center;
}  

body {
    -youbkit-touch-callout: none; /* iOS Safari */
    -youbkit-user-select: none;   /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE 10+ and Edge */
    user-select: none;            /* Non-prefixed version,
                                  currently supported by Chrome and Opera */
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(207, 19, 66);
}
.navbar-brand{
    font-size: 2rem;
    font-weight: bold;
}

.navbar_nav{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 0px 10px 0px;
    margin: auto;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
}

.nav-item{
    padding-left: 35px;
    font-family: 'Poppins', sans-serif;
}

.row-header{
    position: relative;
    margin: 0px auto;
    padding: 0px auto;
  }
  
  .row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
  }

.header_links{
    /* margin: 0 0 40px 0; */
    padding-top: 2em;
    padding-bottom: 0px;
    margin-left: 5vw;
}

.header_links a{
    font-size: 35px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0);
    color: #fff; 
    line-height: 1;
    padding:8px 0;
    margin-right: 20px;
    margin-left: 20px;
    /* border-radius: 50%; */
    text-align: center;
    width: 45px;
    height: 45px;
    transition: transform 0.3s;
    justify-content: center;
    align-items:center;
}

.header_links a:hover{
    background: rgba(255,255,255,0);
    color:  rgb(207, 19, 66);
    transform: scale(1.3);
}
.home {
    /* padding: 70px 30px 70px 30px; */
    /* background : rgba(255, 255, 255, 0); */
    background-image: url("../../images/Home_image.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    /* padding-bottom: 500px;  */
    height: 100vh;
    width: 100%;
    color: rgba(255, 255, 255, 0);
}
  
  /* .address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
  }
  
  h2,h3 {
    font-weight: bold;
  } */

.header_know{
    display: block;
    padding-top: 50px;
    /* margin-bottom: 55px; */
    padding-bottom: 50px;
    height: 100%;
}

.header_know btn-dark{
    color: salmon;
}
.header_know a{
    /* position: absolute;
    text-align: center;
    font-size: 25px; */
    position: absolute;
    display: block;
    float: left;
    /* bottom: 50%;
    left: 50%; */
    /* transform: translate(-50%,-50%); */
    width: 240px;
    height: 60px;
    text-align: center; 
    line-height: 60px;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    color: #fff;
    text-decoration: none;
    margin-left: 10vw;
  }
.header_know a svg,
.header_know a svg rect{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    fill:transparent;
}
.header_know a svg rect{
    stroke: #fff;
    stroke-width: 4;
    transition: 0.5s;
    stroke-dasharray: 600,500;
    stroke-dashoffset: 0,0;
}
.header_know a:hover svg rect{
    stroke-dasharray: 130,380;
    stroke-dashoffset: 150;
    stroke: rgb(207, 19, 66);
}

  @media only screen and (max-width: 600px) {
      .header_know{
          display: block;
      }
  }

.typer-row{
    text-align: left;
    display: inline;
    text-decoration: none;
}
.typer{
    color: #FF0077;
    font-size: 2.9em;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 40px;
}
.typewrite{
    pointer-events: none;
}
.typewrite:hover{
    text-decoration: none;
}

/*--------------------------------------------------------------
# About Header
--------------------------------------------------------------*/
.about .title::after{
    content: "Let me introduce myself";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 320px;
    width: 320px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
}
.about .about-content .right .text span{
    color: rgb(207, 19, 66);
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right .hire{
    display: inline-block;
    background: #FFFFFF;
    color: rgb(207, 19, 66);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(207, 19, 66);
    transition: all 0.3s ease;
    text-decoration: none;
    margin: 0rem 2rem;
}

.about .about-content .right .cv{
    display: inline-block;
    background: rgb(207, 19, 66);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(207, 19, 66);
    transition: all 0.3s ease;
    text-decoration: none;
    margin: 0rem 2rem;
}
.about .about-content .right .cv:hover{
    color: rgb(207, 19, 66);
    background: none;
}

/** 
 * ===================================================================
 * 12. resume - (_layout.scss)
 *
 * ------------------------------------------------------------------- 
 */

 .grey-section {
	background: #ebebeb;
  }
  .grey-section p.lead {
	color: #7d7d7d;
  }



/**
 * responsive:
 * common styles
 * ------------------------------------------------------------------- 
 */
@media only screen and (max-width:768px) {
	
}
@media only screen and (max-width:600px) {
	
}
@media only screen and (max-width:400px) {

}


#resume {
	padding-top: 4rem;
	padding-bottom: 2rem;
 }

#resume .section-intro h2{
	text-align: center;
}

#resume .section-intro .title{
    margin-bottom: 0px;
}

#resume .section-intro .title::before{
    display: none;
}

#resume .resume-header {
	text-align: center;
    font-weight: bold;
}


#resume .resume-header h2 {
	color: rgb(207, 19, 66);
}

#resume .resume-timeline {
    margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 3.6rem;
	position: relative;
	max-width: 980px;
}
#resume .timeline-wrap {
	position: relative;
	margin-top: 1.5rem;
	margin-bottom: 6rem;
}
#resume .timeline-wrap::before {
	content: "";
	display: block;
	width: 1px;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	left: 35%;
	top: 0;
}
#resume .timeline-block {
	position: relative;
	padding-top: 1.5rem;
}
#resume .timeline-ico {
	height: 4.8rem;
	width: 4.8rem;
	line-height: 4.8rem;
	background: #313131;
	border-radius: 50%;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	left: 35%;
	top: .9rem;
	margin-left: -2.4rem;
}
#resume .timeline-ico i {
	position: relative;
	left: .05rem;
	top: .2rem;
    border-radius: 50%;
}

#resume .timeline-ico img {
	position: relative;
    bottom: 0.09rem;
    height: 4.8rem;
	width: 4.8rem;
    line-height: 4.8rem;
}

#resume .timeline-header {
	float: left;
	width: 35%;
	padding-right: 90px;
	text-align: right;
}
#resume .timeline-header h3 {
	margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: bold;
}
#resume .timeline-header p {
	font-family: "poppins-regular", sans-serif;
	font-size: 1rem;
	color: #888888;
}
#resume .timeline-content {
	margin-left: 35%;
	padding-left: 60px;
}
#resume .timeline-content h4 {
	position: relative;
	padding-bottom: 1.8rem;
    font-size: 1.2rem;
    text-align: left;
    font-weight: 600;
}
#resume .timeline-content h4::after {
	content: "";
	display: block;
	height: 3px;
	width: 50px;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 0;
	bottom: 0;
}
#resume .timeline-content p {
	font-family: "poppins-regular", sans-serif;
	font-size: 1.1rem;
	color: #888888;
    text-align: justify;
}
/**
 * responsive:
 * resume
 * ------------------------------------------------------------------- 
 */
@media only screen and (max-width:1024px) {
	#resume .timeline-header {
		padding-right: 50px;
	}
	#resume .timeline-header h3 {
		font-size: 1.2rem;
	}
	#resume .timeline-header p {
		font-size: 1rem;
	}
	#resume .timeline-content {
		padding-left: 50px;
	}
}
@media only screen and (max-width:768px) {
    #resume .resume-timeline{
        margin-bottom: 1.2rem;
    }
	#resume .timeline-wrap::before {
		left: 2.4rem;
	}
	#resume .timeline-ico {
		left: 2.4rem;
	}
	#resume .timeline-header {
		float: none;
		width: auto;
		padding-right: 15px;
		text-align: left;
	}
	#resume .timeline-header h3 {
		font-size: 1.1rem;
	}
	#resume .timeline-header p {
		font-size: 1rem;
		margin-bottom: 1.5rem;
	}
	#resume .timeline-content {
		margin: 0;
	}
    #resume .timeline-ico img {
        position: relative;
        bottom: 0.09rem;
        height: 4.8rem;
        width: 4.8rem;
        line-height: 4.8rem;
    }
	#resume .timeline-content h4 {
		padding-bottom: 0;
		padding-top: 1.6rem;
		margin-bottom: .6rem;
		font-size: 1.1rem;
	}
	#resume .timeline-content h4::after {
		bottom: auto;
		top: 0;
	}
    #resume .timeline-content p {
        font-size: 1rem;
    }
	#resume .timeline-header, #resume .timeline-content {
		padding-left: 7rem;
	}
}
@media only screen and (max-width:480px) {
    #resume .resume-timeline{
        margin-bottom: 1rem;
    }
	#resume .resume-header h2 {
		font-size: 2.2rem;
	}
	#resume .timeline-wrap::before {
		left: 1.8rem;
	}
	#resume .timeline-ico {
		height: 3.6rem;
		width: 3.6rem;
		line-height: 3.6rem;
		left: 1.8rem;
		margin-left: -1.8rem;
		font-size: 1.5rem;
	}
    #resume .timeline-ico img {
        position: relative;
        bottom: 0.09rem;
        height: 3.8rem;
        width: 3.8rem;
        line-height: 4.8rem;
    }
	#resume .timeline-header, #resume .timeline-content {
		padding-left: 5.5rem;
	}
}

/*--------------------------------------------------------------
# Skills Header
--------------------------------------------------------------*/
.skills .title::after{
    content: "Few of my skills.";
}
.skills .skills-content {
    width: 100%;
}
.skills .skills-content .text{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 0;
    padding-top: 0;
}
.skills .skills-content .card i{
    font-size: 30px;
    color: crimson;
    transition: color 0.3s ease;
}
.skills .skills-content .text span{
    color: rgb(207, 19, 66);
}
.skills .skills-content p{
    text-align: justify;
}
.skills .skills-content{
    display: inline-flex;
    align-content: space-around;
    justify-content: center;
}
.skills .skills-content .card{
    min-height: 21rem;
    width: calc(25% - 10px);
    height: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 30px 15px;
    margin: 5px 5px;
    height: 100%;
}
.skills .skills-content .card .box1{
    width: 100%;
    height: 30%;
    border-bottom: 2px solid rgb(207, 19, 66);
}
.skills .skills-content .card .box1{
    width: 100%;
    height: 70%;
}
.skills .skills-content .card .box1,.skills .skills-content .card  .box2{
    transition: all 0.3s ease;
}
.skills .skills-content .card:hover .box1,.skills .skills-content .card:hover  .box2{
    transform: scale(1.05);
}

.skills .skills-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: #FFFFFF;
}

.skills .skills-content .card .skills_desc{
    display: inline-flex;
    left: 0;
    right: 0;
    color: rgb(207, 19, 66);
    margin: 1rem 0rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.skills .skills-content .card .skills_desc p{
    /* width: calc(36% - 20px);
    height: calc(33% - 20px); */
    background: #ffffff;
    text-align: justify;
    border-radius: 6px;
    padding: 0.5rem 0.5rem;
    margin: 0.3rem 0.3rem;
}




/*--------------------------------------------------------------
# services Section
--------------------------------------------------------------*/
.services, .contact{
    color:#fff;
    background: #111;
}
.services .title::before,
.contact .title::before{
    background: #fff;
}
.services .title::after,
.contact .title::after{
    background: #111;
    content: "what i provide";
}
.services .title::after{
    content: "who with me";
}
.services .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}
.services .carousel .card:hover{
    background: crimson;
}
.services .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.services .carousel .card:hover .box{
    transform: scale(1.05);
}
.services .carousel .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .carousel .card:hover i{
    color: #fff;
}
.services .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    transition: 0.5s;
}
.services .carousel .card .service_desc{
    /* opacity: 0; */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    /* visibility: hidden; */
    overflow: hidden;
    height: 0;
    text-align: justify;
    /* transition: 1.5s ease-in;
    transition-timing-function: linear;
    animation: fadeIn 5s; */
    transform: translateY(100%);
    -webkit-transition: transform ease-out 1.4s;
    -moz-transition: transform ease-out 1.4s;
    -o-transition: transform ease-out 1.4s;
    transition: transform ease-out 1.4s;
    /* transition: transform ease-in 0.4s; */
}
.services .carousel .card:hover .service_desc{
    /* opacity: 1; */
    position: relative;
    /* visibility: visible; */
    bottom: 0;
    height: 100%;
    transform: translateY(0);
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: crimson!important;
}

/*--------------------------------------------------------------
# want to connnect
--------------------------------------------------------------*/
.want_to_contact{
    background-color: rgb(0, 0, 0);
}
.want_to_contact .want-to-connect-content .left{
    width: 45%;
}
.want_to_contact .want-to-connect-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: justify;
    color: rgb(207, 19, 66);
}
.want_to_contact .want-to-connect-content .left p{
    text-align: justify;
    color: #FFFFFF;
}
.want_to_contact .want-to-connect-content .right{
    width: 55%;
}
.want_to_contact .want-to-connect-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.want_to_contact .want-to-connect-content .right p{
    text-align: justify;
}

/* .want_to_contact .want-to-connect-content .right .want_contact{
    display: inline-block;
    background: rgb(207, 19, 66);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 6px;
    border: 2px solid rgb(207, 19, 66);
    transition: all 0.3s ease;
    text-decoration: none;
}
.want_to_contact .want-to-connect-content .right .want_contact:hover{
    color: rgb(207, 19, 66);
    background: none;
} */
.want_to_contact .want-to-connect-content .right a{
    position: absolute;
    /* bottom: 50%;
    left: 50%; */
    transform: translate(-50%,-50%);
    width: 180px;
    height: 60px;
    text-align: center; 
    line-height: 60px;
    font-family: "poppins-regular", sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: #fff;
    text-decoration: none;
}

.want_to_contact .want-to-connect-content .right a svg,
.want_to_contact .want-to-connect-content .right a svg rect
{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    fill:transparent;
}

.want_to_contact .want-to-connect-content .right a svg rect
{
    stroke: #fff;
    stroke-width: 4;
    transition: 0.5s;
    stroke-dasharray: 500,500;
    stroke-dashoffset: 0,0;
}

.want_to_contact .want-to-connect-content a:hover svg rect
{
    stroke-dasharray: 120,400;
    stroke-dashoffset: 250;
    stroke: rgb(207, 19, 66)
}

/* ===================================================================
 * # contact section styling
 *
 * ------------------------------------------------------------------- */
.contact{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(27,27,27,1) 33%, rgba(62,62,62,1) 70%, rgba(92,93,93,1) 99%);
}
.contact .title::before{
    width: 0px;
}
.contact .title::after{
    content: "";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    color: rgb(207, 19, 66);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .right{
    display: flex;
    margin: 2rem 0rem;
}
.contact .contact-content .right .contact_desc{
    font-size: 1rem;
}
.contact .contact-content .right .contact_desc_highlight{
    font-size: 1.2  rem;
    font-weight: bold;
    color: rgb(207, 19, 66);
}
.contact .contact-content .right p{
    text-align: justify;
}
.contact .contact-content .right .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: inline;
    text-align: left;
    height: 65px;
}
.contact .contact-content .row .info{
    margin-left: auto;
    margin-right: 0rem;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(207, 19, 66);
}
.contact .contact-content .info .sub-title{
    font-size: 1rem;
    color: #FFFFFF;
}
/* ---------------------- */
/* contact form */
.contact .light{
    max-width: 1400px;
}
.contact .light .contact-form {
	max-width: 740px;
}

.contact .light .contact-form ::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.3);
}
.contact .light .contact-form :-moz-placeholder {
	color: rgba(255, 255, 255, 0.3);  /* Firefox 18- */
}
.contact .light .contact-form ::-moz-placeholder {
	color: rgba(255, 255, 255, 0.3);  /* Firefox 19+ */
}
.contact .light .contact-form :-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.3);
}
.contact .light .contact-form .placeholder {
	color: rgba(255, 255, 255, 0.3) !important;
}

#contact form {
    background-color: rgba(255, 255, 255, 0);
	margin-top: 0;
	margin-bottom: 3rem;
}
#contact form .form-field {
    color: #cc005f;
	position: relative;
}
#contact form .form-field:before, #contact form .form-field:after {
	content: "";
	display: table;
}
#contact form .form-field:after {
	clear: both;
}
#contact form .form-field label {
	font-family: "poppins-bold", sans-serif;
	font-size: 1.1rem;
	line-height: 1.4rem;
	position: absolute;
	bottom: -1.2rem;
	right: .6rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	padding: 0 2rem;
	margin: 0;
	color: #FFFFFF;
	background: #FF0077;
}
#contact form .form-field label::after {
	position: absolute;
	left: -5px;
	top: 50%;
	margin-top: -6px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #FF0077;
	content: "";
}
#contact input[type="text"],
#contact input[type="password"],
#contact input[type="email"],
#contact textarea {
	width: 100%;
    background-color: unset;
	color: rgba(255, 255, 255, 0.7);
	margin-bottom: 0;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#contact input[type="text"],
#contact input[type="password"],
#contact input[type="email"] {
	height: .6rem;
	padding: 1.8rem 2rem;
}
#contact input[type="text"]:focus,
#contact input[type="password"]:focus,
#contact input[type="email"]:focus {
    outline: none;
	border: none;
	border-bottom: 1px solid rgb(207, 19, 66);
	color: #FFFFFF;
}
#contact textarea {
	max-height: 12rem;
	padding: 1.8rem 2rem;
}
#contact textarea:focus {
    outline: none;
	border: none;
	border-bottom: 1px solid rgb(207, 19, 66);
	color: rgb(207, 19, 66);
}
#contact button.submitform {
	font-size: 1rem;
	display: block;
	letter-spacing: .2rem;
	height: 3.6rem;
	line-height: 3.6rem;
	padding: 0 3rem;
	width: 50%;
    margin: auto;
    margin-top: 2.8rem;
	background: rgb(207, 19, 66);
	color: #FFFFFF;
}
#contact button.submitform:hover, #contact button.submitform:focus {
	background: #FFFFFF;
    color: rgb(207, 19, 66);
}
#message-warning, #message-success {
	display: none;
	background: #0d0d0d;
	border-radius: 3px;
	padding: 3rem;
	margin-bottom: 3.6rem;
	width: 100%;
}
#message-warning {
	color: #fa0003;
}
#message-success {
	color: #FF0077;
}
#message-warning i, #message-success i {
	margin-right: 10px;
}

/* form loader */
#submit-loader {
	display: none;
	position: relative;
	left: 0;
	top: 1.8rem;
	width: 100%;
	text-align: center;
}
#submit-loader .text-loader {
	display: none;
	font-family: "poppins-bold", sans-serif;
	color: #FFFFFF;
	letter-spacing: .3rem;
	text-transform: uppercase;
}
.oldie #submit-loader .s-loader {
	display: none;
}
.oldie #submit-loader .text-loader {
	display: block;
}



/* ===================================================================
 * # footer
 *
 * ------------------------------------------------------------------- */

.footer {
    display: block;
    font-family: "poppins-regular", sans-serif;
    padding: 2.2rem 0 3.2rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
    background-color: rgb(0, 0, 0);
    font-size: 0px;
}

.footer-media{
    display: inline;
}
.footer a, footer a:visited {
    color: rgb(207, 19, 66);
    /* text-decoration: none; */
}

.footer a:hover, footer a:focus {
    color: #FFFFFF;
}

.footer-logo {
    display: inline-block;
}

.footer-site-logo {
    display: block;
    width: 230px;
}
.footer-site-logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.footer-social {
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    font-family: "poppins-regular", sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

.footer-social:after {
    content: "";
    display: table;
    clear: both;
}

.footer-social li {
    display: inline-block;
    padding-left: 0;
    margin-right: .9rem;
    line-height: 3.9rem;
    vertical-align: middle;
    color: #111;
}


.footer-social li::after {
    content: "|";
    color: rgba(255, 255, 255, 0.15);
    padding-left: .9rem;
}

.footer-social li i {
    font-size: 1.7rem;
    line-height: 3rem;
    vertical-align: middle;
}

.footer-social li span {
    margin-left: .6rem;
    font-size: 0.8rem;
}

.footer-social li a {
    color: #FFFFFF;
}

.footer-social li:last-child {
    margin-right: 0;
}

.footer-social li:last-child::after {
    display: none;
}

.footer-bottom {
    margin-top: 4.2rem;
    text-align: center;
}

.footer-bottom .copyright span {
    display: inline-block;
    font-size: 1rem;
}

.footer-bottom .copyright span::after {
    content: "|";
    display: inline-block;
    padding: 0 1rem 0 1.2rem;
    color: rgba(255, 255, 255, 0.1);
}

.footer-bottom .copyright span:last-child::after {
    display: none;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * footer 
 * ------------------------------------------------------------------- */

 @media only screen and (max-width: 600px) {
    .footer-social li {
        margin-right: 1.8rem;
    }
    .footer-social li span, .footer-social li::after {
        display: none;
    }
    .footer-social li i {
        font-size: 2.4rem;
    }
    .footer-bottom {
        margin-top: 4.2rem;
        padding-bottom: .6rem;
    }
    .footer-bottom .copyright span {
        display: block;
    }
    .footer-bottom .copyright span::after {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .footer-site-logo {
        width: 100px;
    }
    .footer-social li {
        margin-right: 1.2rem;
    }
    .footer-social li i {
        font-size: 2.2rem;
    }
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    display: none;
    text-decoration: none !important;
    text-align: center;
    right: 15px;
    bottom: 15px;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
}
  
.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: rgb(207, 19, 66);
    color: #fff;
    transition: all 0.4s;
}
  
.back-to-top i:hover {
    background: rgb(230, 108, 138);
    color: #fff;
    transition: background 0.2s ease-in-out;
}


.svg_div{
    padding-top: 4em;
    display: absolute;
}

#home_svg{
    display: block;
    float: left;
    margin-top: 50px;
    /* width: 100%;  */
    position: relative;
    margin-bottom: 3vh;
    margin-top: 3vh;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50% ,-50%);  */
    animation: fill 0.5s ease forwards 6.5s;
}

/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 280px;
        width: 280px;
    }
    .about .about-content .right .hire{
        margin: 1rem 0rem;
    }
    .skills .skills-content .card{
        min-height: 21rem;
        width: calc(29% - 9px);
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
    #home_svg{
        margin-bottom: 2.8vh;
        margin-top: 2.8vh;
    }
    .header_know a
    {
        font-size: 24px;
    }
    .about .about-content .right .hire{
        margin: 2rem 0rem;
    }
    .skills .skills-content .card{
        min-height: 21rem;
        width: calc(31% - 9px);
    }
}
@media (max-width: 947px){
    .max-width{
        max-width: 930px;
    }
    .typer{
        font-size: 35px;
    }
    #home_svg{
        margin-bottom: 2.6vh;
        margin-top: 2.6vh;
    }
    .header_know a
    {

        font-size: 22px;
    }
    .about .about-content .column,
    .want_to_contact .want-to-connect-content .column,
    .contact .contact-content .column{
        width: 100%;
    }
    .about .about-content .left,
    .want_to_contact .want-to-connect-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
        flex-wrap: wrap;
        align-content: center;
    }
    .about .about-content .right,
    .want_to_contact .want-to-connect-content .right{
        flex: 100%;
    }
    .about .about-content .right .hire{
        margin: 0rem 0rem;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .card{
        min-height: 21rem;
        width: calc(43% - 15px);
    }
    .skills .skills-content .card .skills_desc p{
        font-size: 1rem;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .typer{
        font-size: 32px;
    }
    #home_svg{
        width: 100%;
        margin-bottom: 2.2vh;
        margin-top: 2.2vh;
    }
    .header_know a
    {
        font-size: 20px;
    }
    .about .title::after{
        margin-top: 1.5rem;
        font-size: 16px;
    }
    .about .about-content .right .hire{
        margin: 2rem 0rem;
    }
    .services .serv-content .card{
        width: 100%;
    }
    .skills .skills-content .card{
        min-height: 21rem;
        width: calc(45% - 9px);
    }
    .skills .skills-content .card .skills_desc p{
        font-size: 0.8rem;
    }
}

@media (max-width: 500px) {
    .typer{
        font-size: 27px;
    }
    #home_svg{
        width: 100%;
        margin-bottom: 2vh;
        margin-top: 2vh; 
    }
    .header_know a
    {
        letter-spacing: 1.5px;
        font-size: 18px;
    }
    .about .title::after{
        margin-top: 1.5rem;
        font-size: 15px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .about .about-content .right .hire{
        margin: 1.5rem 0rem;
    }
    .skills .skills-content .card{
        min-height: 14rem;
        width: calc(70% - 10px);
    }
    .skills .skills-content .card .skills_desc p{
        font-size: 0.8rem;
    }
    .skills .title::after{
        bottom: -0.8rem;
        width: 55%;
    }
    .skills .title::before{
        margin-top: 1.5rem;
    }
    .contact .title::after{
        bottom: -0.8rem;
        width: 55%;
    }
    .contact .title::before{
        margin-top: 1.5rem;
    }
}

#home_svg path:nth-child(1){
    stroke-dasharray: 170.84;
    stroke-dashoffset: 170.84;
    animation: line-anim 2s ease forwards;
}

#home_svg path:nth-child(2){
    stroke-dasharray: 156;
    stroke-dashoffset: 156;
    animation: line-anim 2s ease forwards 0.3s;
}

#home_svg path:nth-child(3){
    stroke-dasharray: 103;
    stroke-dashoffset: 103;
    animation: line-anim 2s ease forwards 0.6s;
}

#home_svg path:nth-child(4){
    stroke-dasharray: 103;
    stroke-dashoffset: 103;
    animation: line-anim 2s ease forwards 0.9s;
}

#home_svg path:nth-child(5){
    stroke-dasharray: 170;
    stroke-dashoffset: 170;
    animation: line-anim 2s ease forwards 1.2s;
}

#home_svg path:nth-child(6){
    stroke-dasharray: 21;
    stroke-dashoffset: 21;
    animation: line-anim 2s ease forwards 1.5s;
}

#home_svg path:nth-child(7){
    stroke-dasharray: 224;
    stroke-dashoffset: 224;
    animation: line-anim 2s ease forwards 1.8s;
}

#home_svg path:nth-child(8){
    stroke-dasharray: 170;
    stroke-dashoffset: 170;
    animation: line-anim 2s ease forwards 2.1s;
}

#home_svg path:nth-child(9){
    stroke-dasharray: 184;
    stroke-dashoffset: 184;
    animation: line-anim 2s ease forwards 2.4s;
}

#home_svg path:nth-child(10){
    stroke-dasharray: 103;
    stroke-dashoffset: 103;
    animation: line-anim 2s ease forwards 2.7s;
}

#home_svg path:nth-child(11){
    stroke-dasharray: 181;
    stroke-dashoffset: 181;
    animation: line-anim 2s ease forwards 3.0s;
}

#home_svg path:nth-child(12){
    stroke-dasharray: 73;
    stroke-dashoffset: 73;
    animation: line-anim 2s ease forwards 3.3s;
}

#home_svg path:nth-child(13){
    stroke-dasharray: 148;
    stroke-dashoffset: 148;
    animation: line-anim 2s ease forwards;
}

#home_svg path:nth-child(14){
    stroke-dasharray: 42;
    stroke-dashoffset: 42;
    animation: line-anim 2s ease forwards 0.3s;
}

#home_svg path:nth-child(15){
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    animation: line-anim 2s ease forwards 0.6ms;
}

#home_svg path:nth-child(16){
    stroke-dasharray: 392;
    stroke-dashoffset: 392;
    animation: line-anim 2s ease forwards 0.9s;
}

#home_svg path:nth-child(17){
    stroke-dasharray: 124;
    stroke-dashoffset: 124;
    animation: line-anim 2s ease forwards 1.2s;
}

#home_svg path:nth-child(18){
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    animation: line-anim 2s ease forwards 1.5s;
}

#home_svg path:nth-child(19){
    stroke-dasharray: 284;
    stroke-dashoffset: 284;
    animation: line-anim 2s ease forwards 1.8s;
}

#home_svg path:nth-child(20){
    stroke-dasharray: 124;
    stroke-dashoffset: 124;
    animation: line-anim 2s ease forwards 2.1s;
}

#home_svg path:nth-child(21){
    stroke-dasharray: 154;
    stroke-dashoffset: 154;
    animation: line-anim 2s ease forwards 2.4s;
}

#home_svg path:nth-child(22){
    stroke-dasharray: 325;
    stroke-dashoffset: 325;
    animation: line-anim 2s ease forwards 2.7s;
}

#home_svg path:nth-child(23){
    stroke-dasharray: 399;
    stroke-dashoffset: 399;
    animation: line-anim 2s ease forwards 3.0s;
}

#home_svg path:nth-child(24){
    stroke-dasharray: 252;
    stroke-dashoffset: 252;
    animation: line-anim 2s ease forwards 3.3s;
}

#home_svg path:nth-child(25){
    stroke-dasharray: 138;
    stroke-dashoffset: 138;
    animation: line-anim 2s ease forwards 3.6s;
}

#home_svg path:nth-child(26){
    stroke-dasharray: 328;
    stroke-dashoffset: 328;
    animation: line-anim 2s ease forwards 3.9s;
}

#home_svg path:nth-child(27){
    stroke-dasharray: 252;
    stroke-dashoffset: 252;
    animation: line-anim 2s ease forwards 4.2s;
}

#home_svg path:nth-child(28){
    stroke-dasharray: 154;
    stroke-dashoffset: 154;
    animation: line-anim 2s ease forwards 4.5s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: whitesmoke;
    }
}